extends ../layout

block content
  .page-header
    h3= title
        .row
      .col-md-12.blog-page
        .row
          .col-md-12.article-block
            h3= blogRecord.title
            .blog-tag-data
              img.img-responsive(src='../../assets/admin/pages/media/gallery/item_img.jpg', alt='')
              .row
                .col-md-6
                  ul.list-inline.blog-tags
                    li
                      i.fa.fa-tags
                      a(href='javascript:;')
                        | Technology
                      a(href='javascript:;')
                        | Education
                      a(href='javascript:;')
                        | Internet
                .col-md-6.blog-tag-data-inner
                  ul.list-inline
                    li
                      i.fa.fa-calendar
                      a(href='javascript:;')
                        | April 16, 2013
                    li
                      i.fa.fa-comments
                      a(href='javascript:;')
                        | 38 Comments
            // end news-tag-data
            div
              p= blogRecord.description
 
            hr
            .post-comment
              h3 Leave a Comment
              form(role='form', method='post', action='/add-comments')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.control-label
                    | Name 
                    span.required
                      | *
                  input.form-control(type='text' name='user_name')
                  input.form-control(type='hidden', name='id' ,value='#{blogRecord._id}')
                .form-group
                  label.control-label
                    | Email 
                    span.required
                      | *
                  input.form-control(type='text' name='email')
                .form-group
                  label.control-label
                    | Message 
                    span.required
                      | *
                  textarea.col-md-10.form-control(rows='8' name='comment')
                button.margin-top-20.btn.blue(type='submit') Post a Comment
          // end col-md-9
          